<% content_for :head do%>
  <%= stylesheet_link_tag "providers" %>
<% end %>
<div id="header">
    <div id="breadcrumbBox">
      <% if (@definition) %>
      <ul id="breadcrumbItems">
        <li><a href="<%= dashboard_url %>">measure dashboard</a> <span class="sep">&raquo;</span></li>
        <li><%= @definition['name'] %></li>
      </ul>
      <% end %>
      
     <%= render :partial => "/layouts/top_nav"%>
    </div>
</div>
