<table id="providerList">
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Team</th>
		<!--<th>Organization</th>-->
		<th />
	</tr>
	<%= render partial: 'provider_row', collection: providers%>
</table>