<table class="table-condensed table-hover">
	<tbody>
		<td class='span5'><%= team.name %></td>
		<td class='span1'><%= link_to "edit", edit_team_path(team), remote: true%></td>
		<td class='span1'><%= link_to "delete", team_path(team), method: 'delete', remote: true, confirm: "Are you sure you want to delete this team?" %></td>
	</tbody>
</table>
