$(".modal-footer").html("<%= escape_javascript( link_to 'add team', new_team_path, remote: true, class: 'btn btn-info' ) %>")
$(".modal-body").html("<div id='teamTable'><%= render_js partial: 'team', collection: @teams %></div>")
