if ($(".modal").length == 0) {
	$("body").append("<div id='teamModal' class='modal'><div class='modal-header'><button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">&times;</button><h3>Teams</h3></div><div class='modal-body'></div><div class='modal-footer'></div></div>");
};

<%= render partial: 'team_list' %>

$(".modal").modal({keyboard: true});



