<html>
<head>

  <title>Laika Software Exception!!</title>  

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache"><!-- no java_main.js so we don't check for idle state -->
  
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => "print" %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'button' %>
 
  <!--[if IE]><link rel="stylesheet" href="/css/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
  <!-- Show the grid and baseline -->
  <style type="text/css">
    /*<![CDATA[*/
        /*.container {background: url(/css/blueprint/lib/grid.png) repeat;}*/
    /*]]>*/
  </style>
</head>
<body>
        <div class="content"><%= image_tag "error_doggy.png", {:style => 'float: right;'} %>
        <div class="container">
          <h2>We are sorry, but Laika has encountered an unrecoverable software error.</h2>
          This has been logged.  In the meantime, please send us your
          <a href="mailto:<%= FEEDBACK_EMAIL %>">feedback</a>, and we 
          will attempt to help you as soon as possible.
          <p><br>
          <a class="bluebutton" href="javascript:history.go(-1)" style="top:0px;"><span>Recover</span></a>
        </div></div>
</body>
</html>
