*.log
*.sqlite3
public/clinical_documents
config/database.yml
coverage.data
coverage
public/laika
*.DS_Store
tmp/*
config/deploy_local.rb
*.sw[pon]
tags
config/glassfish.yml
*.pid
doc
.yardoc
Thumbs.db
.bundle
.bundle/config
dump.rdb
.tags*