<h3>Message Logs</h3><br/><hr/>
<% if @message_logs -%>
  <% @message_logs.each do |message_log| -%>
     <b><%=h message_log.MESSAGEDATE.to_s(:long_timestamp) %></b> <br/>
     <%=h message_log.INMESSAGE.sub("<br>","\n").sub("\r","\n") %><br/><br/>
  <% end -%>

  <center><%= will_paginate @message_logs %></center>
<% end -%>
<br/>
<a href="javascript:window.close()">Close</a>
