<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your password for popHealth has been reset</h1>
    <p>
      <%= @user.first_name %> <%= @user.last_name %>, we have reset your password.
    </p>
    <p>
      To login to the site and choose a new password, just follow this link: <%= password_reset_login_accounts_url(:email => @user.email, :reset_key => @user.reset_key) %>.
    </p>
  </body>
</html>