<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to popHealth, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      You have successfully signed up to popHealth,
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= verify_accounts_url(:email => @user.email, :validation_key => @user.validation_key) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>