@import "mixins";
@import "bootstrap";

a {
  color: $denominator;
}

#providerReports a {
  color:black;

  div {
    padding-left:18px;
  }

}

ul.nav {
  margin-right:50px;

  div {
    padding: 10px 15px;
  }

  a {
    color: black;
  }

  .dropdown-menu {
    min-width: 0px;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -115%;
  }
}



.popover-title {
  background-color:$numerator;
}

.measureItemList, .filterItemList {
  margin-left:0px;
  margin-bottom:0px;
  list-style-type: none;
}

#mainBreadcrumbs {
  background: none;
  margin-bottom: 0px;
  padding-top:10px;
}

div.percentage {
  font-size:22px;
}

.exportReport {
  margin-top:14px
}

.measure-name, .measure-subtitle {
  a {
    color: black;
  }
}

a#brand {
  padding: 0px 10px 0px 0px;
}

#dashboardPeriod {
  padding-right:2%;
}

#providerReports {
  padding-left: 10px;

  h5 {
    text-align:center;
  }

}

.parameters {
  padding: 0px 10px;
}

.paramGroup {
  border-radius: 5px;
  padding: 1px;
  padding-left:7px;
  margin-bottom:2px;
}

.paramItem {
  background-color:white;
  border-radius:5px;
  padding:5px;
}

#measurePopulationPercentage {
  padding-top:18px;
  font-size:3.5em;
}

#measures {

  margin-top:20px;

 .headerRow {
    
    border-bottom: 1px solid #eee;
    font-size: 1em;
    text-transform: uppercase;
    color:#888;
    padding-bottom: 5px;
    margin-bottom: 5px;
 } 
  .measure {
      padding: 10px;
  } 
}

.inline-fraction {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2em;
  span {
    display: block;
    margin-right: 5px; }
  span.numeratorValue {
    color: $numerator; }
  span.denominatorValue {
    color: $denominator; }
  span.separator {
    border-top: 1px solid #cccccc; } }

#patientRecords {
  margin-left:0px;
}

#dashboardPeriod {
  dt {
    text-transform: uppercase; 
    text-align: left;
  }

  dd h4 {

    margin:0px;
  }
}

#outlierList, #exclusionList {
  div.alert {
    padding: 8px 14px;
    margin-bottom:5px;
    div {
    padding-left:20px;
    }

    i { margin-top:2%; }
  }
}

.patient-section {

  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom:3px;
  margin: 5px 0px;

  .section-header { 
    font-weight: bold;
    background-color: $numerator;
    text-transform: uppercase;
    padding-left:5px;
    border-bottom: 1px solid #ccc;
  }

  .section-body {
    padding-left: 5px;
  }

  span.none {
    color: #ddd;
    font-style: italic; 
  }
}

#reporting-period {
  div {
    float:left;
  }
}

input#measurementPeriodEndDate {
  // margin-top:2px;
}

#btnMeasurementPeriodChange {
  // margin-top:1px;
  margin-left:2px;
}

  span {
    margin: 5px 0;
    padding: 1px 3px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
}
  span.and, span.not {
    display: block;
    width: 3em;
    background-color: #ddd; 
  }
  span.or {
    display: block;
    width: 2em;
    background-color: #dddddd; 
  }

#exclusionPanel {
  h3 {
      background-color: $exclusions;
  }

}

#eligibilityMeasures {
  h3 {
    background-color: $eligibleHdr;
  }
  .paramGroup {
    background-color: $eligibilityParamGroup;

    .or, .and, .not {
      background-color: $eligibilityParamGroup;
    }
    .paramGroup {
      // margin-left: 10px;
      background-color: #51b2bc;
      // width: auto;
      .paramGroup {
//         margin-left: 10px;
        background-color: #37696e; 
      } 
    } 
  } 
}


.measureComponent {
   h3 {
    padding: 5px 20px;
    margin: 0px 0 10px 0px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
}

#outcomeMeasures {
  h3 {
    background-color: $outcomeHdr;
  }
  .paramGroup {
    background-color: $outcomeParamGroup;
    .and, .or, .not {
      background-color: $outcomeParamGroup; 
    }
    .paramGroup {
      background-color: #9db26d;
      width: auto;
      .paramGroup {
        background-color: #68822c; 
      } 
    } 
  } 
}

#measureMetrics {
  margin-top:20px;
  padding-left: 20px;

  h1 {
    // margin:0px;
  }

  .paren {
    font-size: 3.5em;
    color: #999999;
    position: relative;
    top: 8px; 
  }
  .inline-fraction {
    vertical-align: middle;
    font-size: 1.6em;
    line-height: 1.2em;
    .separator {
      padding-bottom: 3px; 
    } 
  }
}

#patientMetrics {
  padding:10px;
}

.btn-large {
  width:170px
}