{{#unless isFirstItem}}<span class="conjunction {{conjunction}}">{{conjunction}}</span>{{/unless}}
{{#if negation}}<span class="conjunction negation">not</span>{{/if}}

<div class="measure-border">
  <div class="measure-item">
  {{super}}
  </div>
</div>
