<div class="left-sidebar" id="measureSummary">
    <div>
          <input type="text" value="80" class="dial">
    </div>
    <div class="fraction-listing">
      <div class="numerator">{{numerator}}</div>
      <div class="denominator">{{performanceDenominator}}</div>
    </div>
    <div id="test" class="popChart">
        
    </div>

</div>
