a.bluebutton, a.whitebutton {
  background: transparent url('../images/blue_right.png') no-repeat scroll top right;
  color: #787878;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  margin-left: 6px;
  padding-right: 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 100;
}
a.whitebutton { background: transparent url('../images/white_right.png') no-repeat scroll top right; }
a.bluebutton span {
  background: transparent url('../images/blue_left.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 8px 10px 8px 28px;
}
a.whitebutton span {
  background: transparent url('../images/blue_left.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 8px 10px 8px 28px;
}
a.whitebutton span { background: transparent url('../images/white_left.png') no-repeat; }
.bluebutton:active { outline: none; }
.whitebutton.active { outline: none; }
body.login { background-color: #fafafa; }
div#cap-top {
  background: transparent url(../images/cap-top.png) no-repeat;
  height: 8px;
  width: 546px;
}
* html #cap-top { margin-bottom: -8px; }
* html div#cap-top {
  background-image: none;
  filter: e('progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/cap-top.png", sizingMethod="crop")');
}
div#cap-body {
  background: transparent url(../images/cap-bg.png) repeat-y;
  width: 545px;
}
* html div#cap-body {
  background-image: none;
  filter: e('progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/cap-bg.png", sizingMethod="scale")');
}
div#cap-bottom {
  background: transparent url(../images/cap-bottom.png) no-repeat;
  height: 15px;
  width: 546px;
}
* html div#cap-bottom {
  background-image: none;
  filter: e('progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/cap-bottom.png", sizingMethod="crop")');
}
#login {
  margin: 0 auto 0;
  padding: 100px 0 50px;
  width: 546px;
}
#login #branding {
  padding-top: 20px;
  margin: 0 45px 10px 45px;
}
#login .accountError {
  color: #f50000;
  font-weight: bold;
  padding-bottom: 10px;
}
.panel {
  margin: 0 auto;
  width: 456px;
}
.panel input {
  background: #fafafa;
  border: 1px solid #dddddd;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 3px;
  width: 445px;
  margin-bottom: 20px;
}
.panel label {
  color: #666666;
  font-size: 14px;
  display: block;
}
.panel .actions {
  text-align: right;
  padding: 10px 0;
}
.panel .links {
  font-size: 14px;
  line-height: 2em;
  padding-right: 3px;
  padding: 20px 0 0 0;
}
.panel .links a { color: #40afee; }
.panel .links.info {
  font-size: 12px;
  text-align: right;
  line-height: 1.5em;
  color: #666666;
  padding-top: 30px;
}
.panel p { font-size: 12px; }
.panel h1 { padding: 10px 0; }
ul.register { margin: 0; }
ul.register li {
  list-style-type: none;
  float: left;
  display: table-cell;
  padding: 0 0 15px 0;
  width: 228px;
  height: 4.5em;
}
ul.register li input {
  width: 200px;
  margin-bottom: 0px;
}
ul.register p {
  color: #666666;
  font-size: 11px;
}
#panelReset div input { margin-bottom: 0; }
#panelReset div p { margin-bottom: 20px; }
#regcheckbox {
  padding: 15px 0;
  text-align: left;
}
#regcheckbox input {
  width: auto;
  margin-right: 5px;
}
#regcheckbox label {
  color: #000000;
  font-size: 100%;
  display: inline;
  cursor: pointer;
}
