/* popHealth stylesheet
 * Author: Mike Nosal (mnosal@mitre.org)
 * Version 1.0
 * Last Modified Date: 2011-03-21
 * 
 * This is written in LESS, an alternative CSS grammar.
 * For further information, see http://lesscss.org
 * To compile into the W3C grammar, use the less gem:
 * $ lessc pophealth.less
 *
 */
 

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}


/* Constant declarations */
/* Colors */
@measurePopulationChartBar : #ddd;
@measurePopulationChartValue : #000;
@headerBkg : #eee;
@measureTitleText : #373737;
@measurementPeriodText:#646464;
@measureList : #000;
@eligibleHdr : #54b4bd;
@outcomeHdr : #9dc84b;
@measureBorderColor:#e9e9e9;
@providerReports:#f2f2f2;
@parameterList : #353535;
@parameterListTitle :#eeeeee;
@paramList : #f2f2f2;
@paramListText : #333;
@barValueColor : #333;
@barValueText : #eee;
@barValueBkg : #ddd;
@dashboardLabel : #888888;
@dashboardText : #44B3BE;
@tableText : #646464;
@denominator : #40B3BC;
@numerator : #9CC45E;
@patients : #dddddd;
@exclusions: #eda039;
@link_separator_color : #999999;

@measureDetailTable-padding : 25px;

/* default border color */
@borderColor :#cccccc;
@eligibilityParamGroup :#a4d9dd;
@outcomeParamGroup : #cfe1a5;

@radius : 5px;

html { height:100%;}

body { 
    height:100%;
    font-family:"Myriad Pro","Frutiger",Helvetica,Arial;
    width:100%;
    min-width:1000px;
}

#container, #dashboardContainer {
  font-size:0.9em;
  height:100%;

}


a {
  color:black; 
  text-decoration:none;
}

#header {
  background: #f4f4f4;
  background: -moz-linear-gradient(top,#f8f8f8,#f0f0f0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f0f0f0));
  width:100%;
  a:hover {text-decoration:underline}

  ul {
    list-style:none;
    margin-left:325px;
    font-size:0.9em;
    li {
      float:left;
      margin-top:5px;
      color:#333;
      a {color:@dashboardText}
      .sep {margin:0 5px;
      }
    }
  }
}

#pageContent {
    height:100%;
   display:table;
}
  
#breadcrumbBox {
  padding:1px 0 2px;
  border-bottom:1px solid @borderColor;
  background:transparent url(../images/popHealthMiniLogo.png) 0 10% no-repeat; 
}

#logOut {
    padding:5px 20px 4px 0;
    text-align:right;
    font-size:1em;
    .sep {margin:0 7px 0 5px;color:#ccc;text-align:center}
    a {
       color: @dashboardText;
    }
    a:hover {
       text-decoration:none;
       color:#368F98;
    }
}

#measureTitle {
  padding:10px 25px;
  color:@measureTitleText;
  h1 {
    font-size:1.5em;
    margin:5px 0 0 0;
  }
  h2 {
    font-size:1.0em;
    margin-top:20px;
    
    span.subconditionsPhrase {
      font-weight:bold;
      font-style:italic;
    }
  }
  
}

#measureCtrl {
  width:370px;
  float:right;
  
  #mcp {
    font-size:1.5em;
    line-height:2em;
    margin-bottom:20px;
  } 
    input {
      background-color:#ddd;
      border:1px solid #ddd;
      padding:6px 8px 8px 8px;
      margin-right:10px;
      -moz-border-radius : 5px;
      -webkit-border-radius: 5px;
      border-radius :5px;
    }
  
}

.bar {
  margin-top:5px;
  background-color:@measurePopulationChartBar;
  width:320px;
  height: 30px;
  line-height:1.5em;

}

.barNumerator {
  background-color:@numerator;
  height:100%;
  float: left;
  color:@barValueText;
  span {
    margin:3px 0 0 5px;
    }
}

.barDenominator {
  background-color:@denominator;
  height:100%;
  float: left;
  color:@barValueText;
  span {
    margin:3px 0 0 5px;
    }
}

#measurementPeriod {
  padding:20px 0 10px 0;
  color:@measurementPeriodText;
  input {
    padding:5px 30px 5px 2px;
    border:1px solid @borderColor;
    color:#666;
    font-size:0.9em;
    background:transparent url(../images/icnMiniCalendar.png) 98% 50% no-repeat;
    }
  span {margin:10px}
  }
.measureBox {padding:10px}

#measureEditContainer {
  border-top:1px solid @measureBorderColor;
  clear:left;
  position:relative;
    span {
      margin : 5px 0;
      padding:1px 3px;
      text-align:center;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      border-radius:10px;
    }
    span.and {display:block;width:3em;background-color:@eligibilityParamGroup}
    span.or {display:block;width:2em;background-color:#dddddd}
    
  
  .paramGroup {
    margin:10px 0 10px 0px;
 /*   -webkit-box-shadow: 2px 2px 10px #aaa ;
    -moz-box-shadow: 2px 2px 10px #aaa; 
    box-shadow: 2px 2px 10px #aaa;
*/
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;

    padding:2px;
    display:table;
    
  }
  .paramGroup.population {
    background-color:#cccccc;
    .paramGroup {background-color:#cccccc;
      .paramGroup {background-color:#cccccc;}
      }
    .and {background-color:#ddd;}
  }
  .paramGroupToggle {margin:0 0 0 20px}

  .paramItem {
    background-color:white;
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    padding:1px 4px 0;
    display:table;
    margin-left:10px;
    color:#000;
    text-transform:lowercase;

    .paramBar {
      margin-left:5px;
      background-color:@barValueBkg;
      width:100px;
      display:inline-block;
      
    }
    .paramBarVal {
      background-color:@barValueColor;
      color:@barValueText;
      height:100%;
      padding-left:0px;
      font-size:0.95em;
      position:relative;
      span {margin-left:5px;}
      span.short {position:relative;right:-100%;
      //margin-left:23px;
      color:#000}
      }
    label {
      color:#000;
      font-weight:bold; padding-right:4px;
      }
      
    }
  }
.exclusionTab {
  font-size:0.9em;
  background:url(../images/bkgExclusionsTab.png) 100% 50% no-repeat;width:120px;padding:5px 20px 1px 5px;color:#646464;
  text-transform:uppercase;
  }
  
#eligibilityMeasures {
  width : 500px;
  display:table-cell;
  h3 {
    font-size:1.5em;
    padding:5px 20px;
    display:inline-block;
    margin:10px 0 0 10px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    background-color : @eligibleHdr;
    em {font-style:italic}
  }
  .paramGroup {
    background-color:@eligibilityParamGroup;
    .paramGroup {
      margin-left:10px;
      background-color:#51b2bc;
  /*    -webkit-box-shadow: 2px 2px 2px #477c81 ;
      -moz-box-shadow: 2px 2px 2px #477c81;
      box-shadow: 2px 2px 2px #477c81; */
      width:auto;

      .paramGroup {
       margin-left:10px;
       background-color:#37696e;
 /*       -webkit-box-shadow: 2px 2px 2px #264e51;
        -moz-box-shadow: 2px 2px 2px #264e51;
        box-shadow: 2px 2px 2px #264e51; */
      }
    }
  }
}

#outcomeMeasures {
  width:500px;
  display:table-cell;
  h3 {
    font-size:1.5em;
    padding:5px 20px;
    display:inline-block;
    margin:10px 0 0 10px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    background-color:@outcomeHdr;
    em {font-style:italic}
  }
  .paramGroup {background-color:@outcomeParamGroup;
  .and {background-color:@outcomeParamGroup;}
    .paramGroup {
      background-color:#9DB26D;
  /*    -webkit-box-shadow: -2px -2px 2px #717F4F ;
      -moz-box-shadow: -2px -2px 2px #717F4F;
      box-shadow: -2px -2px 2px #717F4F; */
      width:auto;

      .paramGroup {
        background-color:#68822C;
/*        -webkit-box-shadow: -2px -2px 2px #475527;
        -moz-box-shadow: -2px -2px 2px #475527;
        box-shadow: -2px -2px 2px #475527; */
      }
    }
  }
}
#exclusionPanel {
	width:500px;
	position:absolute;
	left:500px;
	top:0;
	h3 {
	float:right;
    font-size:1em;
    cursor:pointer;
    padding:3px 8px 1px 8px;
    display:inline-block;
    margin:0px 0 0 0px;
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:20px;
    border-radius:20px;
    background-color:@exclusions;
    em {font-style:italic}
  }
	}
#exclusionMeasureItems {
	padding:5px 5px 5px 10px;
	border:1px solid orange;
	border-top:0;
	background-color:white;

	.paramGroup {
		background-color:#fbd198;
		.and {background-color:#fbd198}
	}
}

#parameterList {
  width:260px;
  display:table-cell;
  background-color:@parameterList;
  color:@parameterListTitle;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  div.icons {
    height:29px;
    img {
      margin-right:5px;
    }
  }
  h3 {
    line-height:2em;
  }

  .paramList {
    background-color:@paramList;
    color:@paramListText;
    margin:5px 0;
    padding:10px 5px;
    p {
      color:#666;
      line-height:1.2em;
    }
    ul {
      margin:10px 5px;
      list-style:none;
      label {
        padding-left:15px;
        background:url(../images/liClosed.png) 0 35% no-repeat;
        
      }
      label.open {
        background:url(../images/liOpen.png) 0 35% no-repeat;
      }
    }
  }
  div.paramItemList {
    line-height:1.2;
    font-size:0.9em;
    border:1px solid #dcdcdc;
    background-color:white;
    ul {
        background-color:white;
        margin:5px;}
  }

}

#providerReports {
  display:table-cell;
  width:285px;
  background-color:@providerReports;
  height:100%;
  vertical-align:top;
  color:#000000;
  padding:0 5px 0 10px;
  border-right:1px solid @borderColor;
  h3 {
      padding: 0 0 0 10px;
      font-size:0.9em;
  }
  p.note {
    padding:0 0 0 10px;
    margin:5px 0 15px 0;
    color:@dashboardLabel;
    text-transform:uppercase;
    
  }
  em {font-style:italic;text-transform:none}
  h3.dashboardLabel {
     color:@dashboardLabel;
     padding: 10px 0 0px 10px;
     font-size:1.0em;
  }
  h3.numberPatients {
      padding: 0 0 20px 10px;
      font-size:1.0em;
  }
  h1 {
    padding: 10px 0 0px 10px;
      font-size:1.4em;
  }

  .measureList {
    background-color:@paramList;
    color:@measureList;
    margin:5px 0;
    padding:0 5px 10px 5px;
    font-size:1em;
    p {
      color:#666;
      margin:0 10px 0 0;
      font-size:0.8em;
      text-align:right;
    }
    ul {
      margin:10px 5px;
      list-style:none;
      label {
      	cursor:pointer;
        padding-left:15px;
        background:url(../images/liClosed.png) 0 35% no-repeat;
        
      }
      label.open {
        background:url(../images/liOpen.png) 0 35% no-repeat;
      }
    }
  }
  
  .measureItemList {
    color:#000000;
    line-height:1.2;
    font-size:1.1em;
    ul {
        margin:5px;
    }
    list-style:none;
    li {
      padding: 0 5px 10px 25px;
      background:url(../images/unchecked.png) 0 10% no-repeat;
      font-size:0.9em;
      cursor:pointer;
      .note {margin:0 3px 0 0;font-size:0.9em}
    }
    li.checked {
      background:url(../images/checked.png) 0 10% no-repeat;
    }
  }
  
  a {
     padding: 0 0 0 10px;
       color:#44B3BE;
    }
    a:hover {
       text-decoration:none;
       color:#368F98;
    }
}

#dashboardPeriod {
    float: left;
    padding-top:10px;
    min-width:720px;
    
  p.dashboardLabel {
    color:@dashboardLabel;
    float: left;
    padding: 20px 20px 20px 40px;
  }
  input.calendarInput {
    width: 80px;
    position: relative;
    padding-left: 25px;
    margin: 0px 0px 5px  0px;
    border:none;
    color:#666;
    font-size:0.9em;
    background:transparent url(../images/icnMiniCalendar.png) 0% 50% no-repeat;
  }
}
  input.exportReport {
    float: right;
    color: @dashboardText;
    font-size:1em;
    background:-moz-linear-gradient(top,#ececec,#e5e5e5);
    background-color:#f2f2f2;
    border:1px solid #afafaf;
    padding:6px 8px 5px 8px;
    -moz-border-radius : 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    text-transform:uppercase;
  }
  
.measureDetailTable {
  padding: 0;
  float:left;
  width:700px;
  h1 {
    font-size:1.5em;
    padding-left:@measureDetailTable-padding;
    }
  h3.dashboardLabel {
    text-transform:uppercase;
    }
  dl {
    display:block;
    clear:left;
    margin-top:10px;
    padding-left:@measureDetailTable-padding;
  }
  dt {
    display:table-cell;
    width:160px;
    color:@dashboardLabel;
    text-transform:uppercase;
  }
  dd {
    display:table-cell;
    h1 {padding-left:0}
  }
  h3.dashboardLabel {
    color:@dashboardLabel;
    clear:left;
    padding-left:@measureDetailTable-padding;
    border-bottom:1px solid @borderColor;
  }
  p {
    padding: 20px 0px 5px 5px;
  }
  div.legend {
    padding-left:@measureDetailTable-padding;
    padding-top:10px;
    div {display:inline-block;width:14px;height:14px;margin-right:7px;margin-bottom:-1px;}
    span {margin-right:15px;}
    .numerator {background-color:@numerator}
    .denominator {background-color:@denominator}
    .patients {background-color:@patients}
    .exclusions {background-color:@exclusions}
  }
//  a.ctrl {float:right;line-height:2.0em}
  table {
    width:100%;
  
      th {
        
        color: @tableText;
        padding: 0 0 0 40px;
        border-bottom: 1px solid @measureBorderColor;
        font-size:0.9em;
      }
      td {
        padding: 15px 0px 10px 0px;
        vertical-align: top;
      }
      tr {
        vertical-align: top;
      }
  }
  table:last-child {
      padding:0 0 80px 0;
  }
}
  .inline-fraction {
    display:inline-block;
    position:relative;
    vertical-align:middle;
    text-align:center;
    line-height:1.2em;
    span {
        display:block;
        margin-right:2px;
        }
    span.numeratorValue {color:@numerator;}
    span.denominatorValue {color:@denominator;}
    span.separator {border-top:1px solid #ccc;}
    
    }


.tableMeasureTitle {
  width: 255px;
  margin-top:0.75em;
  padding-left:@measureDetailTable-padding;
  span {
    cursor:help;
  }
}

#tableMeasureDescription {
  width: 275px;
}

.clear {
    clear:both;
    padding:10px;
}
.tableBarVal {
  background-color: @barValueColor;
  height:100%;
  color:@barValueText;
  padding: 0 1px 0 0;
  font-size: 0.7em;
  span {
    margin:3px 0 0 5px;
    }
}

.tableMeasureCtrl {
  font-size: 1.0em;
  margin-bottom:10px;
  clear:left;
  height:3em;
  
.measureStats {
   width:150px;
   float:left;
   height:3em;
   vertical-align:middle;
   
   .measurePopulationPercentage {
     display:inline-block;
     text-align:right;
     width:2.2em;
     margin-right:10px;
     font-size:1.5em;
     vertical-align:middle;
     }
   .paren {
      font-size:2.0em;
      font-family:Helvetica;
      font-weight:100;
      color:#999;
      position:relative;
      margin-right:1px;
      top:4px;
   }
}
 .inline-bar {
    float:left;
    height:3em;
    vertical-align:middle;
    position:relative;
    top:0.75em;
    .links {
      float:left;
      line-height:1.2em;
      a {
         display:block;
         font-size: 0.8em;
        }
      }
    } 
  .tableBar {
    float: left;
    margin-top:5px;
    margin-right:15px;
    background-color:@measurePopulationChartBar;
    width:150px;
    padding: 0 1px 0 0;
  }
  
  .tableBarDenominator {
    .tableBarVal;
    float: left;
    padding:0 2px 0 1px;
    background-color: @denominator;
  }
  
  .tableBarNumerator {
    .tableBarVal;
    float: left;
    background-color: @numerator;
  }
  
  .numeratorValue {
    color: @numerator;
  }

  .denominatorValue {
    color: @denominator;
  }


  .sep {color:@link_separator_color;}
  a {
     padding: 0 5px 0 5px;
       color:#44B3BE;
    }

    a:hover {
       text-decoration:none;
       color:#368F98;
    }
}

#exportLinks {
  float:right;
  text-align:right;
  text-transform:uppercase;
  margin-top:10px;
  padding-bottom:1em;
  a {
     display: block;
     line-height:2.4em;
     padding:1px 0 3px;
     color:#33aace;
     }
  }
  #measureMetrics {
  .paren {
    font-size:3em;
    color:#999;
    position:relative;
    top:8px;
  }

  .inline-fraction {
    font-size:1.9em;
    line-height:1.2em;
    .separator {padding-bottom:3px}
    }
}
  #measurePopulationPercentage {
     display:inline-block;
     text-align:center;
     width:120px;
     height:120px;
     // text-shadow:rgba(0,0,0,.5) -1px -1px 0;
     font-size:1.5em;
     vertical-align:middle;
     background-color:@numerator;
     color:white;
     font-size:48px;
     -moz-border-radius:200px;
     -webkit-border-radius:200px;
     border-radius:200px;
     line-height:128px;
     margin-right:30px;
    }

#patientMetrics {
  display:block;
  display:table-cell;
  vertical-align:top;
  width:285px;
  background-color:#F2F2F2;
  color:#000000;
  padding:0;
  min-height:100%;
  height:100%;
  border-right:1px solid @borderColor;

    
  .patientGroupType {
  p {margin-left:15px;text-transform:uppercase;}
   ul {
    float:right;
    li {height:52px;
        list-style:none;
        margin:15px 0;
        width:250px;
        background:url(/images/pgTabNumerator.png) top left no-repeat;
        padding-right:5px;
        span {
            display:table-cell;
            text-align:left;
            vertical-align:middle;
            height:52px;
            }
        span.radio {width:30px;padding-left: 7px;}
        label {width:150px;display:table-cell;text-align:left;vertical-align:middle;height:52px;cursor:pointer}
        span.count {text-align:right;width:70px}
        text-align:right;
    }
    li.denominator {
        background:url(/images/pgTabDenominator.png) top left no-repeat;
        }
    li.exclusions {
        background:url(/images/pgTabExclusions.png) top left no-repeat;
        }
    }
    }
  
}

#patientTableContainer {
  border-top:1px solid @measureBorderColor;
}

#patientTable {
    margin:20px 20px 20px 50px;
    width:100%;
    
    th {
        padding:2px 5px;
        color:@dashboardLabel;
        margin-bottom:20px;
        text-transform:uppercase;
        }
    td {
        padding:2px 15px 2px 5px;
    }
}



