/*the main container for the progress bar. apply heights, border, padding etc desired*/	
/*main container for progress bar*/
.visualIndication1, .visualIndication2 {
	height:1.5em; 
	width:85px;
	position:relative;
	top:6px;
	background-repeat:no-repeat;
	background-position:left top;
	background-image:url(../images/widget_req.png); 
	float:left;
	}

.visualIndication2 {
	background-image:url(../images/widget_prov.png);
}

div span.portion {
	height:10px;
	position:absolute;
	display:block;
	left: 4px;
	background:url(../images/widget_portion.png) repeat-x 0 100%;
	border-right:1px solid #ff6248;
	}

div span.portion p {
	margin-top:7px;
	font-weight:bold;
}
		
.progress .remaining {
 	margin-top:1em;	
	}

 .notStarted .remaining,  .totallyDone .remaining {
	margin-left:0
	}
		
/*Outside use cases for slider: turn off the slider for two use cases and activate a static image*/		
.totallyDone, .notStarted {
	background:none !important
	}		
	
.progressBarComponent1 .notStarted .visualIndication {
	background-image:url(g/notStarted1.gif);
	}
	
.progressBarComponent2 .notStarted .visualIndication {
	background-image:url(g/notStarted2.gif); 
	}
	
.progressBarComponent1 .totallyDone .visualIndication {
	background-image:url(g/totallyDone1.gif);
	}
	
.progressBarComponent2 .totallyDone .visualIndication {
	background-image:url(g/totallyDone2.gif); 
	}

.totallyDone .visualIndication  span.portion,  .notStarted .visualIndication span.portion {
	display:none
	}