<table class="table">
<thead>
  <tr>
    <th> CMS_ID </th>
    <th> HQMF_ID </th>
    <th>  Name  </th>
    <th>  Description </th>
    <th></th>
    <th>{{#button "importMeasure" class="btn btn-primary"}}<i class="fa fa-upload" aria-hidden="true"></i> Upload <span class="sr-only">new measure</span>{{/button}}</th>
  </tr>
</thead>
{{#each measures}}
 <tr>
   <td>{{cms_id}}</td>
   <td>{{hqmf_id}}</td>
   <td>{{name}}</td>
   <td>{{description}}</td>
   <td>{{#button "editMeasure" class="btn btn-primary" id=hqmf_id}}Edit{{/button}}</td>
   <td>{{#button "handleDelete" class="btn btn-primary pull-right" id=hqmf_id}}DELETE{{/button}}</td>
 </tr>
{{/each}}
</table>