body {text-align:left;}

div#header ul{
  position: absolute;
  right:    0px;
}

#main{
  float: left;
}

.top_frame .numerator h2, .top_frame .numerator div, .top_frame .denominator h2, .top_frame .denominator div{
  display: inline;
}

.top_frame hr{
  width: 60%;
}

.top_frame .master_percentage h1{
  margin: 35px 0 0 0;
}


.bottom_frame .section {
  display: inline;
}


.bottom_frame h4 span, .bottom_frame .value div{
  display: inline;
}
