<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<div id="login">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag "pophealth_welcome.png", :id => 'imgLogo', :title => 'popHealth welcomes you!', :alt => 'popHealth logo' %>
    </div>
    <div id="panelReset" class="panel">
      <h1>That's okay. Everyone forgets.</h1>
      <p>Just tell us the email address you used to create your popHealth account, and we'll send you a link to reset your password!</p>
      <br>
      <div>
        <label>Your Email Address</label>
        <%= f.email_field :email %>
      </div>

      <div class="accountError">
        <%= devise_error_messages! %>
      </div>

      <div class="actions">
        <a class="whitebutton" href="/"><span>Cancel</span></a>
        <a class="bluebutton" href="#" onclick="submitResetPasswordinform();" ><span>Continue</span></a>
      </div>
    </div>
  </div>  
  <div id="cap-bottom"></div>
</div>
<% end %>