<p class="input-group">
  <input type="text" class="form-control provider-search" placeholder="Search for Provider by Name, NPI, Tax ID, or Phone Number">
  
  <span class="input-group-btn"><a class="btn btn-default clear-search" type="button">&times;</a></span>
</p>
<div class="providerTable">
  {{view providers}}
</div>
