<span class="paren">(</span>
<div class="inline-fraction">
    <span class="numeratorValue"><%= numerator %></span>
    <span class="separator"></span>
    <span class="denominatorValue"><%= denominator %></span>
</div><span class="paren">)</span>