<div id="header" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">popHealth</a>
    <ul id="mainBreadcrumbs" class="breadcrumb">
      <% if @breadcrumbs %>
        <% @breadcrumbs[0..-2].each do |crumb| %>
          <li><%= link_to(crumb.title, crumb.url) %> <span class="sep">&raquo;</span></li>
        <% end %>
        <li><%= @breadcrumbs.last.title %></li>
      <% end %>
    </ul>
  </div>
</div>