<div class="measureBarGraph">
    <div class="graph-single-bar measureBarNumerator"></div>
    <div class="graph-single-bar measureBarDenominator"></div>
    <div class="graph-single-bar measureBarExclusions"></div>
</div>

