<h3>Edit Post</h3>
<%= error_messages_for :message %>
<% form_for :message, :url => news_item_path(@message), :html => {:method => 'PUT'} do |f| %>
  <%= render :partial => 'news/message_form', :object => f %>
<% end %>
