<h3>Laika Configuration Settings</h3>
<dl>
<% @settings.each do |setting| -%>
  <% form_for setting do |s| -%>
    <dt><%=h setting %></dt>
    <dd>
      <% if current_user.administrator? -%>
        <%= s.text_field :value, :size => 75 %>
        <%= s.submit "Save" %>
      <% else -%>
        <%=h setting.value %>
      <% end -%>
    </dd>
  <% end -%>
<% end -%>
</dl>
