<div>
  <%= entry.description || entry.free_text %>
  <% if (entry.as_point_in_time.present?) %>
    <time datetime="<%= display_time(entry.as_point_in_time) %>"><%= display_time(entry.as_point_in_time) %></time>
  <% end %>
</div>