<div class="row-fluid patient-section">
  <div class="section-header"><%= title %></div>
  <div class='section-body'>
    <% if !section.empty? %> 
    <%= render :partial => 'entry', :collection => section %>
  <% else %>
    <span class="none">None Found</span>
  <% end %>
  </div>

</div>