
<div id="container">
  <%= render :partial => 'header', :locals => {:patient => @records.first['value']} %>
  <div>
    hello patient <%= @records.first['value']['first'] + ' ' + @records.first['value']['last']%>
  </div>
</div>
