html,body{
  font-family:Helvetica, Arial, sans-serif;
  font-size: .8em;
  height: 100%;
  width:  100%;
  padding:0;
  margin: 0;
  border: 0;
  background: #fff;
}

#header{
  height:         40px;
  background:     url('../images/gradient.png');
  border-bottom:  1px solid #cccccc;
}
#header .logo{
  margin: 0 10px;
}

#sidebar{
  position:           absolute;
  width:              250px;
  border-right:       1px solid #cccccc;
  background-color:   #f2f2f2;
  top:                41px;
  bottom:             0px;
}
#main{
  position:     absolute;
  left:         251px;
  padding:      10px;
  top:          41px;
  bottom:       0px;
}


#sidebar ul li, #sidebar div.new-report {
  padding: 10px 0;
  background:     url('../images/gradient.png');
  border-bottom:  1px solid #cccccc;
  cursor: pointer;
  color:        #888;
  font-size:    1.2em;
  font-weight:  bold;
}

#sidebar ul li:hover, #sidebar div.new-report:hover {
  background:     url('../images/darkgradient.png');
  border-bottom:  1px solid #888;
  color:          #000 !important;
}


#sidebar ul li span, #sidebar div.new-report span {
  padding: 0 10px;
}

.new-report{
  color: #ccc !important;
}







/*
#sidebar ul li span.report-name, #sidebar ul li span.report-percentage{
  font-size:    1.2em;
  font-weight:  bold;
}
*/


#sidebar ul li.selected{
  background:     url('../images/darkgradient.png');
  color:          #000;
  border-bottom:  1px solid #888;
}


#sidebar ul li span.report-percentage{
  float: right;
}


#sidebar ul{
  list-style-type:  none;
  padding:          0;
  margin:           0;
}

#sidebar #info{
  padding:        10px;
  border-bottom:  1px solid #888;
}

#sidebar h1{
  margin:   0;
}

#info span{
  color: #888;
}

.data_viewer .section h3{
  color: #666;
}

.data_viewer .section h4{
  color: #999;
}

.data_viewer .subsection h4 {
  margin-bottom: 0px;
}

/*
  TOP FRAME
*/
.data_viewer .top_frame {
  width:          100%;
  border-bottom:  1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom:  20px;
}

.data_viewer .top_frame .report_stats{

}


.data_viewer .top_frame .master_percentage span{
  font-size: 65%;
}

.top_frame .master_percentage{
  display:        table-cell;
  vertical-align: middle;
  height:         70px;
}

.top_frame .master_percentage h1{
  margin: 0 0 0 25px;
}


.top_frame .maths{
  float: left;
}

.top_frame .numerator h2, .top_frame .numerator div, .top_frame .denominator h2, .top_frame .denominator div{
  display: inline-block;
}

.top_frame .numerator h2, .top_frame .denominator h2{
  margin-right: 25px;
  width:        80px;
  text-align:   right;
  margin-bottom:0;
}
.top_frame .numerator div, .top_frame .denominator div{
  font-size: 1.5em;
}

.top_frame hr{
  margin: 5px 0;
}

.top_frame .draggable-value{
  border: solid 1px #fff;
  padding: 4px 10px 4px 0;
}

.top_frame .draggable-value:hover{
  background:   #e6e6e6;
  border:       1px dashed #ccc;
  cursor: move;
}



.bottom_frame .section {
  width:          400px;
  display:        inline-block;
  vertical-align: top;
}

.bottom_frame .subsection {
  margin-bottom:  20px;
}


.bottom_frame h4 span, .bottom_frame .value div{
  display: inline-block;
}

.bottom_frame .value div.label{
  margin-left:    5px;
}

.bottom_frame h4 .percentage{
  margin-left: 5px;
}

.bottom_frame .subsection .value{
  border:   1px solid #fff;
  padding:  3px 0;
}

.bottom_frame .subsection .draggable-value:hover{
  background:   #f1f1f1;
  border:       1px solid #ccc;
  margin-right: 20px;
  cursor:       move;
}

/*
.bottom_frame .subsection .nodrag{
  border: dashed 1px #ccc !important;
  margin-right: 20px;
}
*/


.bottom_frame .label {
  width:          150px;
  text-align:     left;
  margin-right:   10px;
}


.bottom_frame .percentage, .bottom_frame .number{
  text-align:     right;
  margin-right:   10px;
}

.bottom_frame .percentage {
  width: 25px;
}

.bottom_frame .number {
  width: 60px;
}

.disabled {
  color: #AAA;
}

div.numerator, div.denominator{
  padding:    3px 10px;
  border:     1px solid #fff;
}


div.numerator.dropshelf{
  background-color: #eaf4d8;
  border:           0.5px solid #95c83d;
}

div.denominator.dropshelf{
  background-color: #ecfbfc;
  border:           0.5px solid #44B3c0;
}

div.numerator.dropshelf.over{
  background-color: #d5e9b1;
}

div.denominator.dropshelf.over{
  background-color: #b4e1e6;
}


div.in-numerator{
  background-color: #eaf4d8;
  border:           1px solid #95c83d  !important;
}

div.in-denominator{
  background-color: #ecfbfc;
  border:           1px solid #44B3c0 !important;
}

div.numerator .draggable-value, div.denominator .draggable-value{
  padding: 5px 9px;
}

div.numerator .draggable-value{
  background-color: #eaf4d8;
  border:           1px solid #95c83d  !important;
}
div.denominator .draggable-value{
  background-color: #ecfbfc;
  border:           1px solid #44B3c0 !important;
}



/*
  BARS
*/
.data_viewer .bar{
  position: relative;
  width:    100px;
  height:   11px;
  top:      2px;
}

.data_viewer .bar span{
  position: absolute;
}

.data_viewer .bar .selected{
  height:     100%;
  background: #231f20;
  z-index:    1;
}
.data_viewer .bar .total{
  height:     100%;
  background: #ccc;
}


/*
  NAME EDIT
*/

a{
  color: #44B3c0;
}

span.name-edit{
  margin-bottom: 20px;
}

span.name-edit a, span.name-edit input{
  margin-right: 10px;
}
