.data_viewer .top_frame {
  height: 200px;
  width: 100%;
  border-bottom: 2px solid black; /* TODO: Brian */
}

.data_viewer .section {
  width: 500px;
  display: inline-block;
  vertical-align: top;
}

.data_viewer h4 {
  margin-bottom: 0px;
}

.data_viewer h4 span, .data_viewer .value div {
  display: inline-block;
  text-align: right;
}

.data_viewer .label {
  width: 200px;
  text-align: left;
}

.data_viewer div.label {
  margin-left: 5px;
  width: 195px;
  text-align: left;
}

.data_viewer .percentage {
  width: 50px;
}

.data_viewer .bar {
  width: 100px;
}

.data_viewer .number {
  width: 100px;
}


.data_viewer .disabled {
  color: #AAA;
}