.patient {
  @include make-row();
  .col-measure-info {
    @include make-md-column(3);
  }

  .col-patient-info {
    @include make-md-column(9);
    .patient-heading {
      margin-left: -12px;
    }
    // h2 {
    //   background-color: $gray;
    // }
    .timeline-entry {
      border-left: 8px solid $gray-lighter;
      padding: 25px 0 0 $grid-gutter-width;
      margin: -15px 0 15px 0;
      &.during-measurement-period {
        border-left: 8px solid $brand-primary;
      }
    }
    header.timeline-entry {
      background-color: $gray-lighter;
      padding: 8px 0 8px $grid-gutter-width;
      h2 {
        margin: 0;
      }
    }
  }

  .panel {
    .panel-heading {
      &.active {
        background-color: $brand-primary;
        color: white;
        .submeasure-expander {
          color: white;
        }
      }
    }
    .panel-body {
      padding: 5px 0;
    }

    .submeasure-expander {
      @extend .pull-right;
      color: $brand-primary;
      margin: 0 0 3px 3px;
    }

    .measure-title {
      @extend .panel-title;
      color: inherit;
      display: inline-block;
      font-weight: 500;
      text-transform: capitalize;
      width: 100%;
    }
  }

  .btn-measure {
    display: block;
    text-align: left;
    white-space: normal;
    width: 100%;
    & + .btn-measure {
      margin-top: 5px;
    }
  }


  .circle-icon {
    $radius: 18px;
    position: absolute;
    padding-top: 3px;
    left: 0px;
    background-color: white;
    border: 2px solid $brand-primary;
    border-radius: $radius;
    color: $brand-primary;
    @include square($radius * 2);
    line-height: 2;
    text-align: center;
    .fa {
      font-size: 1.8em;
    }
    &.selected {
      background-color: $brand-primary;
      color: white;
    }
  }

  .patient-data {
    position: relative;
    border: 1px solid $gray;
    &:before {
      content: ' ';
      background-color: white;
      border-bottom: 1px solid $gray;
      border-left: 1px solid $gray;
      position: absolute;
      @include square($grid-gutter-width / 2);
      left: -($grid-gutter-width / 4) - 1; // width/2 (-1 to account for border)
      top: 9px;
      @include rotate(45deg);
    }
    &.selected {
      $border-selected: 2px dashed white;
      background-color: $brand-primary;
      border: $border-selected;
      color: white;
      &:before {
        background-color: $brand-primary;
        border-bottom: $border-selected;
        border-left: $border-selected;
      }
    }
  }

  .patient-data-list {
    @include make-row();
    dl {
      @include make-md-column(6);
      div.patient-medical-record-id {
        max-width: 115px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
