a.bluebutton, a.whitebutton {
  background: transparent url('../assets/blue_right.png') no-repeat scroll top right;
  color: #787878;
  display: inline-block;
  font-weight:bold;
  font-size:10px;
  margin-left: 6px;
  padding-right: 16px; /* sliding doors padding */
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing:1px;
  z-index:100;
}

a.whitebutton {
    background: transparent url('../assets/white_right.png') no-repeat scroll top right;
}

a.bluebutton span, a.whitebutton span {
    background: transparent url('../assets/blue_left.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 8px 10px 8px 28px;
}

a.whitebutton span {
    background: transparent url('../assets/white_left.png') no-repeat;
}

.bluebutton:active, .whitebutton.active {
    outline: none; /* hide dotted outline in Firefox */
}
