@import "mixins";

#managePatients {
	width:990px;
	padding-left:10px;
	
	form {
		margin-bottom: 20px;
	}
	
	nav {
		text-align:center;
	}
	
	div	{
		margin-top:5px;
		max-height:400px;
		overflow: scroll;
	}
	
	h2 {
		color: $graytext;
		text-transform: uppercase;
		border-bottom: 1px solid $grayborder;
		padding:5px 0px;
	}
	
	input {
		border-radius:10px;
		border: 1px solid $grayborder;
	}
	
	table {
		font-size:12px;
		overflow: scroll;

		th {
			text-align:center;
		}

		td {
			font-weight:bold;
		}

		td, th {
			padding:5px 30px;
		}

	}
}

#teamDialog {
	
	ol {
		list-style-type: none;
	}
	
	td {
		padding:10px;
	}
	
	a {
		color: $linkcolor;
	}
}



#patientcontainer,  {
  font-size: 0.9em;
  height: 100%; 
  position: relative;
  }

#dashboardPatient {
  position: absolute;
  top: 35px;
  left: 300px;
  padding: 20px;
}

.patientList {
  color: black;
  line-height: 1.2;
  font-size: 1.0em;
  list-style: none;

ul {
    margin: 5px; 
  }
    h1 {
    
        font-size: 1.2em;
    }
  li {
    padding: 0 5px $main_padding-right 20px;
    font-size: 0.9em;
    cursor: pointer;
    background: url("../assets/reddot.png") no-repeat scroll 0 0 transparent;

    
    
    .note {
      margin: 0 3px 0 0;
      font-size: 0.9em; 
    }
  }
}
#dashboardContainer {
  pageContent {
    #dashboardPeriod .measureDetailTable table:last-child, #dashboardContainer .measureDetailTable table:last-child {
      padding: 0;
    }
    lablel{
    h2 {
      font-size: 1.2em;
      padding-top: 0;
    }
  }
}
}
.numeratorList {
  color: black;
  line-height: 1.2;
  font-size: 1.1em;
  list-style: none;

ul {
    margin: 5px; 
}
  li {
    padding: 0 5px 10px $main_padding-right;
    margin-left: 10px;
    font-size: 0.9em;
    cursor: pointer;
    background: url("../assets/greendot.png") 0 10% no-repeat;
    
    .note {
      margin: 0 3px 0 0;
      font-size: 0.9em; 
    }    
  }
}

#dashboardPeriod .measureDetailTable table td, #dashboardContainer .measureDetailTable table td.DemosecondRow {
  padding-left: 10px;
}
#patientMeasures {
  padding-top: 20px;
  display: table-cell;
  vertical-align: middle;
  width: 320px;
  background-color: #f2f2f2;
  color: black;
  min-height: 100%;
  height: 100%;
  border-right: 1px solid $borderColor;

  table {
  	padding: 20px;
    float:left;
    width:245px;
    margin: 20px;
    
    tbody tr th {
    	text-align:center;
    }
  	
	  	th {
  		  color:#000;
  		  font-size:0.9em;
	  	}
	  
			tr.rot th {
			  white-space: nowrap;
			  border: 1px solid red;
			  text-align: right;
			}

			tr.rot th div {  
			  -webkit-transform: rotate(-45deg);  
			  -moz-transform: rotate(-45deg);
			  -ms-transform: rotate(-45deg);
			  -o-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			}

			td {
				border: 1px solid red;
				text-align:right;

				div.o {
					color: $orange;
					width: 14px;
					height: 14px;
					@include rounded(5px);
				}
			td.r {
				margin-left: 20px;
				text-align: center;
			}
			img {
				text-align:center;
				padding-right: 12px;
				margin-top: 3px;
			}
		}
	}
}

			td div.o {
					background-color: $orange;
					width: 14px;
					height: 14px;
				}

h3 {
  text-transform: uppercase;
	color: black;
	font-weight: 500;
}


#patientResults {
  padding: 15px 10px 5px 10px;
  margin-left: 287px;

  .lowerborder {
  	border-bottom: 3px solid $borderColor;
  }
 
   #patientDashRight {
	  
    .patientContentCategory, .patientContentCategory {
	   
	  	h3 {
	    	text-transform: uppercase;
	  	}
		}   
  }
}

.main {
  padding: 0;
}

#patientName {
  dl, dt, dd {
    vertical-align: text-bottom;
  }

  table {
    width: 100%;
    vertical-align: bottom;
    tbody {
      tr {
        td {
          width: 50%;
          

          table {
            tr{
              th a {                
              }
              th{
                width: 30%;
                a#patientLastName {
                  font-size: 1.5em;
                  text-transform: uppercase;
                }
                a#patientFirstName {
                  font-size: 1.2em;
                  
                }
              }
              td {  
                font-weight: bold;
                width: 70%;

                #effectivedate {
                  padding-left: 0;

                }
              }
            }

            table#patientBasicInfo {
              th {
                width: 70%;

              }
              td {
                font-weight: bold;
              }
              th, td {
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

table.medGraph {
  width: 320px;


}
.patientDatum {
	height: 125px;
	color: $graytext;
}
  	
  table {  
  	color: black;
    
    th {
    }
  
 	  td {
    	font-weight: bold;
    }
  }

  table.patientDemo {
  	width: 100%;
  	height: 125px;
      td, th, table {
       vertical-align: top;
       padding: 0;
      }
      td {
        width: 50%;
        border-spacing: 10%;
        padding-left: 20px;

				
				dd ul li{
					list-style-type:none;
				}

        table {
          width: 100%;
          tbody {
            tr {
              td, th {

              }
              th {
                width: 30%;
              }    
              td {
                width: 70%;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  

	
	table.providerInfo {
		margin-left: 360px; 
		width: 320px;
		height: 125px;
    margin-top: -120px;
  }

div.sectionHeadingbar {
	width: 330px;
	height: 1.5em;
  padding: 5px 10px 0 10px;
  margin: 10px 0;
  border-bottom: 1px solid $grayborder;

}

div.lowerborder {
  border-top: 3px solid $grayborder;
  border-bottom: 3px solid $grayborder;
  margin: 5px 0;
  padding: 10px 0;

}




table.patientGraphtable {
	width: 360px;
	
	td {
		padding: 0 5px;
	}
}

.secondColumn {
	margin-left: 360px;
  float: left;
  margin-top: -377px;

}

#vaccines {
		width: 964px;
		margin-top: 40px;

    table {
      width: 360px;
    }

  
}