@import "mixins";
@import "bootstrap";

// new measure bar charts -------------------------------
div.measureBarGraph {
    height: 1.529411765em;
    margin-bottom: .470588235em;
    overflow: hidden;
    background-color: #e5e5e5;
    border-radius: .071428571em;
    text-align: center;
}

	/* The actual bar itself */
	.graph-single-bar {
		  float: left;
		  width: 0;
		  height: 100%;
		  color: $measurePopulationChartBar;
		  background-color: #0088cc;
	}

	/* Alternate color for stacked graphs */
	.measureBarNumerator {
		  background-color: $numerator;
	}
	/* Alternate color for stacked graphs */
	.measureBarDenominator {
		  background-color: $denominator;
	}
	/* Alternate color for stacked graphs */
	.measureBarExclusions{
		  background-color: $exclusions;
	}
	

// -------------------------------------------!


a {
  color: $denominator;
}


#providerReports a {
  color:black;

  div {
    padding-left:18px;
  }

}

ul.nav {
  margin-right:50px;

  div {
    padding: 10px 15px;
  }

  a {
    color: black;
  }

  .dropdown-menu {
    min-width: 0px;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -115%;
  }
}

.popover-title {
  background-color:$numerator;
}

.measureItemList, .filterItemList {
  margin-left:0px;
  margin-bottom:0px;
  list-style-type: none;
}

#mainBreadcrumbs {
  background: none;
  margin-bottom: 0px;
  padding-top:10px;
}

// added by ssiddiqui
div.fullPercentage {
  font-size:22px;
}

div.userPercentage {
  font-size:22px;
}

.exportReport {
  margin-top:14px
}

.measure-name, .measure-subtitle {
  a {
    color: black;
  }
}

a#brand {
  padding: 0px 10px 0px 0px;
}



#providerReports {
  padding-left: 10px;

  h5 {
    text-align:center;
  }

}

.parameters {
  padding: 0px 10px;
}

.paramGroup {
  border-radius: 5px;
  padding: 1px;
  padding-left:7px;
  margin-bottom:2px;
}

.paramItem {
  background-color:white;
  border-radius:5px;
  padding:5px;
}

#measurePopulationPercentage {
  padding-top:18px;
  font-size:3.5em;
}

#measures {

  margin-top:30px;

 .headerRow {
    
    border-bottom: 1px solid #eee;
    font-size: 1em;
    text-transform: uppercase;
    color:#888;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top:10px;
 } 
  .measure {
      padding: 10px;
  } 
}

.inline-fraction {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2em;
  span {
    display: block;
    margin-right: 5px; }
  span.numeratorValue {
    color: $numerator; }
  span.denominatorValue {
    color: $denominator; }
  span.separator {
    border-top: 1px solid #cccccc; } }

#patientRecords {
  margin-left:0px;
}

#dashboardPeriod {
  dt {
    text-transform: uppercase; 
    text-align: left;
  }

  dd h4 {

    margin:0px;
  }

  padding-right:2%;
  
  //width: 80%;
}

#outlierList, #exclusionList {
  div.alert {
    padding: 8px 14px;
    margin-bottom:5px;
    div {
    padding-left:20px;
    }

    i { margin-top:2%; }
  }
}

.patient-section {

  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom:3px;
  margin: 5px 0px;

  .section-header { 
    font-weight: bold;
    background-color: $numerator;
    text-transform: uppercase;
    padding-left:5px;
    border-bottom: 1px solid #ccc;
  }

  .section-body {
    padding-left: 5px;
  }

  span.none {
    color: #ddd;
    font-style: italic; 
  }
}

#reporting-period {
  div {
    float:left;
  }
}

input#measurementPeriodEndDate {
  // margin-top:2px;
}

#btnMeasurementPeriodChange {
  // margin-top:1px;
  margin-left:2px;
}



#measureEditContainer {

  span {
    margin: 5px 0;
    padding: 1px 3px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
}
  span.and, span.not {
    display: block;
    width: 3em;
    background-color: #ddd; 
  }
  span.or {
    display: block;
    width: 2em;
    background-color: #dddddd; 
  }
}

#exclusionPanel {
  h3 {
      background-color: $exclusions;
  }

}

#eligibilityMeasures {
//   width: 500px;
//   display: table-cell;
//   padding-right: 20px;
  h3 {
    background-color: $eligibleHdr;
  }
  .paramGroup {
    background-color: $eligibilityParamGroup;

    .or, .and, .not {
      background-color: $eligibilityParamGroup;
    }
    .paramGroup {
      // margin-left: 10px;
      background-color: #51b2bc;
      // width: auto;
      .paramGroup {
//         margin-left: 10px;
        background-color: #37696e; 
      } 
    } 
  } 
}


.measureComponent {
   h3 {
    padding: 5px 20px;
    margin: 0px 0 10px 0px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
}

#outcomeMeasures {
  h3 {
    background-color: $outcomeHdr;
  }
  .paramGroup {
    background-color: $outcomeParamGroup;
    .and, .or, .not {
      background-color: $outcomeParamGroup; 
    }
    .paramGroup {
      background-color: #9db26d;
      width: auto;
      .paramGroup {
        background-color: #68822c; 
      } 
    } 
  } 
}

// added by ssiddiqui
div.dashboardTabs {
     clear: left;
     padding-left: $measureDetailTable-padding;
 
     border-bottom: 2px solid $borderColor; 
     border-radius: $tab-radius;
     span{
       text-transform: lowercase;
       text-color: black;
       padding-left: 10px;
       padding-right: 10px;
       padding-top: 6px;
       padding-bottom: 3px;
       border-left: 2px solid $borderColor;
       border-right: 2px solid $borderColor;
       border-top: 2px solid $borderColor;

      font-weight: bold;
      background-color: $active-tab_background;
      color: $active-tab_font;
      border-left: $active-tab_border;
      border-right: $active-tab_border;
      border-top: $active-tab_border;
			
       margin-right: 2px;
       @include rounded($tab-radius);
     }

}

// added by ssiddiqui
#providerReports{
		border-right: 1px solid #e0e0e0;
		background: #f4f4f4;

}

// added by ssiddiqui
#legend{
	
	div {
		display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
	}
	.numerator {
		background: $numerator; 
	}
	.denominator {
		background: $denominator; 
	}
	.patients {
		background: $patients; 
	}
	.exclusions {
		background: $exclusions; 
	}
}



#measureMetrics {
  margin-top:20px;
  padding-left: 20px;

  h1 {

  }
  .measurePopulationPercentage{
  	font-size: 22px;
  
  }

  .paren {
    font-size: 3.5em;
    color: #999999;
    position: relative;
    top: 8px; 
  }
  .inline-fraction {
    vertical-align: middle;
    font-size: 1.6em;
    line-height: 1.2em;
    .separator {
      padding-bottom: 3px; 
    } 
  }
}

// added by ssiddiqui
#managePatients {
	margin-left:40px;
	margin-right:40px;

}


#patientMetrics {
  padding:10px;
}

