/* Variables */
$grey1: #f8f8f8;
$grey2: #f0f0f0;
$blue:  #e7e7ff;
$green: #f0fff0;

ul#provider_list {
  float:left;
  width:10%;
  list-style-type: none;
  height:97%;
  font-family: inherit;
/*  font-size:1em;*/
  overflow: scroll;
}

ul#provider_list li {
  padding: 5% 20%;
  border-bottom: 1px solid #ccc;
  background: #F4F4F4;
  background: -moz-linearar-gradient(top, $grey1, $grey2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey1), color-stop(100%, $grey2));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey1', endColorstr='$grey2',GradientType=0 ); /* IE6-9 */
}

ul#provider_list li:hover {
  background: #ebf1f6; /* Old browsers */
  background: -moz-linear-gradient(top, $blue, $green);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $blue), color-stop(100%, $green));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue', endColorstr='$green',GradientType=0 ); /* IE6-9 */
}

div#main {
  padding-left:30px;
}

div#content {
  padding:5px;
  float:left;
}

div#content form li {
  list-style-type: none;
}

.paren {
    font-family: Helvetica;
    font-weight: 100;
    color: #999999;
    position: relative;
//    margin-right: 1px;
    top: 4px; }

div #providerMain { 
	border-bottom: 3px solid #999;
  div#aggregate {
    margin-left:10px;
    float:left;
    
    
    .paren {
      font-size: 3em;
    }
    
    .links {
      float:left;
      padding-left:5px;
      font-size:1.25em;
      margin-bottom:3px;
    }
    
    #measurePopulationPercentage {
      font-weight:bold;
    }
  }
  
  .paren {
    font-size: 1.5em;
  }
  
  table#providerTable {
    float:left;
		margin-left:50px;
		font-size:20px;

		td {
			height:60px;
			padding:5px 10px;
			vertical-align:bottom;
		}

		td.percent {
			font-size:24px;
			width:50px;
			padding-right:15px;
		}

		td.name {
			text-decoration: underline;
			width:250px;
			vertical-align:top;
			font-weight: lighter;
			padding-right:125px;
		}

		td.fraction {
			padding-right:25px;
		}

		td.barChart {
			vertical-align:middle;
			.tableBar {
				height:20px;
				width:200px;
			}
		}
	}
}

img#loadingAggregate {
  position:absolute;
  left:375px;
  top:100px;
}

