@import "bootstrap3";

// Custom Variables
@title-line-height: 1.5;
@title-bar-height: 3em;
@listing-line-height: 1.5;
@circle-bkg-color: #fff;
@title-circle-radius: 21px;
@circle-listing-radius: 35px;

// Custom classes for semantic mark-up
// font-size -> 1em = 14px

.nav {
  font-weight: 500;
  
  .location {
    margin-top: 4px
  }
  .profile {
    margin-top: 14px;
  }
}

.export-btn {
  width: 110px;
  text-align: center;
  margin-top: 24px;
  text-transform: uppercase;
}

.category {
  background-color: @gray-lighter;
  margin-top: 1em;
  .category-title {
    line-height: 2em;
    margin-bottom: 0;
    margin-top: 0;
  }
  .category-percent {
    .title-circle {
      border-radius: @title-circle-radius;
      height: @title-circle-radius * 2;
      width: @title-circle-radius * 2;
      background-color: @circle-bkg-color;
      margin: auto;
      padding-top: 5px;
      text-align: center;
      font-size: 1.7em;
    }
  }
  .category-fraction {
    font-weight: 800;  
    font-size: 1em;
    line-height: 1.4em;
  }
}

.measure {
  margin-top: 1em;
  .measure-title {
    padding-top: 10px;
    font-size: 18px;     // Has to be in pixels otherwise popover inherits font-size
    font-weight: 500;
  }
  .measure-subtitle {
    padding-top: 15px;
    font-weight: 500;
  }
  .percent-listing {
    height: 78px;
    .circle-listing {
      border-radius: @circle-listing-radius;
      height: @circle-listing-radius * 2 + 5px;
      width: @circle-listing-radius * 2 + 5px;
      background-color: @circle-bkg-color;
      border: 2px solid @gray-lighter;
      margin: 0 auto;
      padding-top: 14px;
      text-align: center;
      vertical-align: middle;
      font-weight: 200;
      font-size: 2em;     
    }
  }
  .fraction-listing {
    padding-top: 10px;
    text-align: center;
    height: 75px;
    font-size: 1.3em;
    font-weight: 500;
    .numerator, .denominator {
      width: 40px;      
    }
    .denominator{
      border-top: 1px solid black;
    }
  }
  .patient-btn {
    margin-top: 16px;
    text-transform: uppercase;
  }
}