				
				<div id='sidebar'>&nbsp;</div>
				<div id='main'>&nbsp;</div>
<% 
			@inline_javascript ||= ""
			@inline_javascript << %{  $(document).ready(function() {
			 var dataViewer = new popConnect.DataViewer('#main', {
			     dataUrl: '/reports',
			     reportId:  #{@report_id},
			     exportLink: $('#exportReport')
			   });

			   var reportNavigator = new popConnect.ReportNavigator('#sidebar', {
			     dataUrl: '/reports',
			     dataViewer: dataViewer,
			     reportId: #{@report_id}
			   });

				$('.fancybox').fancybox({
						'zoomOpacity':		true,
						'overlayShow':		false,
				  		'zoomSpeedIn':		500,
				   		'zoomSpeedOut': 		500,
				   		'hideOnContentClick': false
				});
			});

			popConnect.session = {
			 authToken: '#{form_authenticity_token}'
			}; 
}
%>