<h2>Upload a new C32 Patient Record</h2>
<% form_for(:clinical_document, 
            :url => {:controller => 'pophealth', :action => :patient_record_save},
            :html => {:multipart => true }) do |f| -%>

  <p><label>Select File</label> : 
    <%= f.file_field  :uploaded_data, :id => "new_record" %>
  </p>
  <%= submit_tag 'Upload' %>
<% end -%>