<% coded_values = [:class_code, :confidentiality_code, :format_code, :healthcare_facility_type_code, :practice_setting_code, :type_code]
   coded_values.each do |cv|
-%>
<tr>
  <td><%= cv.to_s.humanize %></td>
  <td><%= select_tag("test_plan[test_type_data][#{cv.to_s}]", options_for_select(AFFINITY_DOMAIN_CONFIG.select_options(cv))) %></td>
</tr>
<% end -%>
<%= hidden_field_tag "test_plan[test_type_data][patient_id]", @patient.id %>

