<div class="percent-listing">
  <input type="text" value="{{performanceRate}}" class="dial" data-readOnly="true" data-width="80" data-thickness=".1" data-fgColor="#4B979D" data-inputColor="#444" data-font="Helvetica">
</div>
<div class="fraction-listing">
  <div class="numerator">{{numerator}}</div>
  <div class="denominator">{{performanceDenominator}}</div>
</div>
