<div class="percent-listing">
</div>

<div class="row-remainder">
  <div class="fraction-listing pull-left">
    <div class="numerator">{{numerator}}</div>
    <div class="denominator">{{performanceDenominator}}</div>
  </div>

  <div class="pop-chart pull-left"></div>

  <a href="#measures/{{id}}{{#if sub_id}}/{{sub_id}}{{/if}}/patient_results" class="patient-btn pull-right">
    <i class="glyphicon glyphicon-user"></i> Patients
  </a>
</div>
