<div class="percent-listing">
      <input type="text" value="{{performanceRate}}" class="dial">
</div>
<div class="fraction-listing">
  <div class="numerator">{{numerator}}</div>
  <div class="denominator">{{performanceDenominator}}</div>
</div>
