<div class="percent-listing">
  <div class="circle-listing">
    {{performanceRate}}%
  </div>
</div>
<div class="fraction-listing">
  <div class="numerator">{{numerator}}</div>
  <div class="denominator">{{performanceDenominator}}</div>
</div>