<div id="header">
  <div id="breadcrumbBox">
    <ul id="breadcrumbItems">
      <li><a href="<%= dashboard_url %>">measure dashboard</a> <span class="sep">&raquo;</span></li>
      <li><a href="#"><%= definition['name'] %></a> <span class="sep">&raquo;</span></li>
      <li><span>Measure Definition</span></li>
    </ul>
    <div id="logOut">
      <span class="sep">|</span> <a href="http://projectpophealth.org/faq.html">help</a> <span class="sep">|</span> <a class="log" href="/logout">log out</a>
    </div>
  </div><!-- end #breadcrumbBox -->
</div><!-- end #header -->