<div id="header">
  <div id="breadcrumbBox">
    <ul id="breadcrumbItems">
      <li><a href="<%= dashboard_url %>">measure dashboard</a> <span class="sep">&raquo;</span></li>
      <li><a href="#"><%= definition['name'] %></a> <span class="sep">&raquo;</span></li>
      <li><span>Measure Definition</span></li>
    </ul>
    <%= render :partial => 'layouts/top_nav' %>
  </div><!-- end #breadcrumbBox -->
</div><!-- end #header -->