<div id="header">
  <div id="breadcrumbBox">
    <ul id="breadcrumbItems">
      <li><a href="<%= dashboard_url %>">measure dashboard</a> <span class="sep">&raquo;</span></li>
      <li><a href="#"><%= definition['name'] %></a> <span class="sep">&raquo;</span></li>
      <li><span>Measure Definition</span></li>
    </ul>
    <div id="logOut">
      <a href="http://projectpophealth.org/faq.html">help</a> <span class="sep">|</span> <%= link_to 'account', edit_user_registration_path(current_user) %> <span class="sep">|</span> <%= link_to 'logout', destroy_user_session_path, 'class' => 'log' %>
    </div>
  </div><!-- end #breadcrumbBox -->
</div><!-- end #header -->