    <div id="measureMetrics" style="width:285px;float:left;padding:15px 0 0 15px;margin-bottom:20px">

<div id="measurePopulationPercentage"><%= raw_percentage(@result['numerator'], @result['denominator']) %>%</div>
        <span class="paren">(</span>
        <div class="inline-fraction">
            <span id="numeratorValue" class="numeratorValue"><%= @result['numerator']%></span>
            <span class="separator"></span>
            <span id="denominatorValue" class="denominatorValue"><%= @result['denominator']%></span>
        </div><span class="paren">)</span>
    </div>
<!--    <br style="clear:left"/> -->