<div id="measureTitle">
    <div id="measureCtrl">
        <div id="mcp">
            <span id="numeratorValue">0</span> / <span id="denominatorValue">--</span> patients = <span id="measurePopulationPercentage">0%</span>
            <div class="bar">
                <div class="barVal" style="width:44%"><span>0%</span></div>         
            </div>
        </div>
        <input type="button" value="Save as new measure" id="btnSaveNewMeasure">
        <input type="button" value="Return to dashboard" id="btnReturnToDash">
    </div>

    <h1 id="measureTitleText"></h1>
    <h2 id="measureDescText"></h2>

    <div id="measurementPeriod">
        <label>Measurement Period: </label>
        <input type="text" id="measurementPeriodStartDate" size="11" maxlength="10" value="1/1/2009">
        <span>to</span>
        <input type="text" id="measurementPeriodEndDate" size="11" maxlength="10" value="">
    </div>
</div><!-- end measureTitle -->