<div class="measureDetailTable">
		<dl>
          <dt style="line-height:2.5em">Measure Name:</dt>
          <dd><h1 id="measureTitleText"></h1></dd>
        </dl>
        <dl>
          <dt>Effective Date:</dt>
   	      <dd>
       		  <span id="measurementPeriodStartDate">Sep.19.2009</span>

		</dd>
		</dl>
        <dl>
          <dt>Description:</dt>
   	      <dd>
       		  <span id="measureDescText"></span>
		</dd>
		</dl>
        <div class="clear"></div>  
       
 </div><!-- end #measureDetailTable -->