<div class="measureDetailTable">
	<%= content_for :export_links %>
	<dl>
    <dt style="line-height:2.5em">Measure Name:</dt>
    <dd><h1 id="measureTitleText"></h1></dd>
  </dl>
  <dl>
    <dt>Effective Date:</dt>
    <dd>
      <span id="measurementPeriodStartDate">07/01/2010 - 09/30/2010</span>
    </dd>
  </dl>
  <dl>
    <dt>Description:</dt>
     <dd>
       <span id="measureDescText"></span>
     </dd>
  </dl>
  <div class="clear"></div>
 </div><!-- end #measureDetailTable -->