<div class="provider row-fluid" data-provider="<%=provider_row.id%>">
  <div class="span6"><%= link_to "#{provider_row.family_name.upcase} , #{provider_row.given_name}", measures_path(npi: provider_row.npi) %>
  </div>
  <div class="percent span3">
    <div class="measureProviderPopulationPercentage"></div>
  </div>
  <div class="fraction span3">
    <%= render :partial => "shared/fraction", locals: {numerator: 0, denominator: 0} %>
  </div>
</div>