<% content_for :head do %>
  <script type="text/javascript">
function llog(x) {window.console.log(x)}	
	
	var popHealth = popHealth || {};
	
	popHealth.drawPctChart = function(data) {
		var elem = "#mcp";
		var numerator = data.numerator;
		var denominator = data.denominator;
		$(elem).empty();
		var percent = denominator > 0 ? (numerator/denominator).toFixed(2)*100 : 0;
		var percentStr = percent + "%"
		$.tmpl("${numerator} / ${denominator} patients = ${percentage}",{numerator:numerator,denominator:denominator,percentage:percentStr}).appendTo(elem);
		var bar = $("<div></div>",{className:"bar"});
		$("<div></div>",{className:"barVal",width:percentStr,html:"<span>"+percentStr+"</span>"}).appendTo(bar);
		$(elem).append(bar);
		$("#outcomeExclusionMarker").text(data.exceptions + " exclusion" + (data.exceptions = 1 ? "s":""));
		$("#eligibleCount").text(denominator);
		$("#outcomeCount").text(numerator);
	}
	
	popHealth.saveNewMeasure = function() { alert("Save new measure"); };
	popHealth.returnToDash = function() { alert("return to dashboard"); };
	popHealth.deleteParam = function() { alert("you clicked delete on a parameter"); };
	
	popHealth.renderMeasureJSON = function(data) {
		var measure = data;
		$.getJSON("/measures/result/"+data.id,popHealth.drawPctChart);
		$("#measureTitleText").text(data.name);

		var addParamItems = function(obj,elem,container) {
			if ("and" in obj) {
				for (var i=0; i < obj.and.length; i++) {
					addParamItems(obj.and[i],elem);
					if (i < obj.and.length-1) {
						$(elem.children(".paramGroupContainer:last")).append($("#ph_tmpl_paramToggle").tmpl({id:$("input[type=checkbox]").length,val:"and"}));
					}
				}
			} else {
				if ("or" in obj) {
					if (!container) {
						elem = $("#ph_tmpl_paramGroupContainer").tmpl({}).appendTo(elem);
						$("#ph_tmpl_paramGroup").tmpl({}).appendTo(elem);	
					}
					for (var i=0; i < obj.or.length; i++) {
						addParamItems(obj.or[i],elem.find(".paramGroup:last"),elem);
						if (i < obj.or.length-1) {
							$("#ph_tmpl_paramToggle").tmpl({id:$("input[type=checkbox]").length,val:"or"}).appendTo(elem.find(".paramGroup:last"));
					}
				}
				} else {
					if (!container) {
						elem = $("#ph_tmpl_paramGroupContainer").tmpl({}).appendTo(elem);
						elem = $("#ph_tmpl_paramGroup").tmpl({}).appendTo(elem);	
					}
					$("#ph_tmpl_paramItem").tmpl(obj).appendTo(elem);
				}
			}
			
		}
		
		if (data.population) {
			addParamItems(data.population,$("#eligibilityMeasureItems"));
		}
		if (!$.isEmptyObject(data.denominator)) {
			$("#ph_tmpl_paramToggle").tmpl({id:$("#eligibilityMeasureItems input[type=checkbox]").length,val:"and"}).appendTo("#eligibilityMeasureItems .paramGroupContainer:last");
			addParamItems(data.denominator,$("#eligibilityMeasureItems"));
		}

		if (data.numerator) {
			addParamItems(data.numerator,$("#outcomeMeasureItems"));
		}
		// turn checkboxes into sliding toggle switches
		makeToggleSliders();
	}
	
	$(document).ready(function() {
	
	//$.getJSON("json/bp.json",popHealth.renderMeasureJSON);
	$.getJSON("/measures/definition/0043",popHealth.renderMeasureJSON);
	
	// make the param list expand/collapse
	$("#parameterClassList li label").click(function(){
		$(this).toggleClass("open");
		if ($(this).hasClass("open")) {
			$(this).siblings("div.paramItemList").slideDown();
		} else {
			$(this).siblings("div.paramItemList").slideUp();
		}
	});
	$("#measurementPeriodEndDate").val(new Date().format("mm/dd/yyyy"));
	$(".deleteParamIcon").click(popHealth.deleteParam);
	$("#btnSaveNewMeasure").click(popHealth.saveNewMeasure);
	$("#btnReturnToDash").click(popHealth.returnToDash);
	$("#measurementPeriodStartDate, #measurementPeriodEndDate").calendricalDate({usa:true});
	
});
	function makeToggleSliders() {
	$('.itoggle input').iToggle({
		type: 'checkbox',
		keepLabel: false,
		easing: 'easeOutExpo',
		speed: 300,
		onClick: function(){
			//Function here
		},
		onClickOn: function(){
			//Function here
		},
		onClickOff: function(){
			//Function here
		},
		onSlide: function(){
			//Function here
		},
		onSlideOn: function(){
			//Function here
		},
		onSlideOff: function(){
			//Function here
		}
	});
	}
	function alertDate(e) {
		alert("you changed me");
		}
  </script>
 <script type="text/html" id="ph_tmpl_paramItem">
	    <div class="paramItem">
	   <!-- ${percentage=Math.round(Math.random()*100,2)} -->
			{{if category}}<h4>${category}</h4>{{/if}}
			<a href="#"><img src="images/icnDelete.png" class="deleteParamIcon"></a>
				${title}
			<div class="paramBar">
				<div class="paramBarVal" style="width:${percentage}%"><span class="${percentage < 25 ? "short" : ""}">${percentage}%</span></div>
			</div>
		</div>
    </script>
    <script type="text/html" id="ph_tmpl_paramGroupContainer">
	    <div class="paramGroupContainer">
    	</div>
    </script>
    <script type="text/html" id="ph_tmpl_paramGroup">
			<div class="paramGroup">
    		</div>
    </script>
	<script type="text/html" id="ph_tmpl_paramToggle">
		<div class="paramGroupToggle">
			<div class="itoggle" id="toggle_${id}">
				<input type="checkbox" id="param_cbox_${id}" ${val == "or" ? "" :"checked"}/>
			</div>
		</div>
	</script>
<% end %>

<div id="container">

	<div id="header">
		<div id="breadcrumbBox">
			<ul id="breadcrumbItems">
				<li><a href="#">44 Measures</a> <span class="sep">&raquo;</span></li>
				<li><a href="#">Pneumonia Vaccination Status for Older Adults</a> <span class="sep">&raquo;</span></li>
				<li><span>Edit Parameters</span></li>
			</ul><br style="clear:both"/>
		</div>
	</div><!-- end #header -->
	
	<div id="pageContent">

		
		<div id="measureTitle">
			<div id="measureCtrl">
				<div id="mcp">
					<span id="numeratorValue">0</span> / <span id="denominatorValue">--</span> patients = <span id="measurePopulationPercentage">0%</span>
					<div class="bar">
						<div class="barVal" style="width:44%"><span>0%</span></div>			
					</div>
				</div>
				<input type="button" value="Save as new measure" id="btnSaveNewMeasure">
				<input type="button" value="Return to dashboard" id="btnReturnToDash">
			</div>

			<h1 id="measureTitleText"></h1>
			<h2 id="measureDescText">*measure description goes here* <span class="subconditionsPhrase"> (measure subconditions go here).</span></h2>

			<div id="measurementPeriod">
				<label>Measurement Period: </label>
				<input type="text" id="measurementPeriodStartDate" size="11" maxlength="10" value="1/1/2009">
				<span>to</span>
				<input type="text" id="measurementPeriodEndDate" size="11" maxlength="10" value="">
			</div>
		</div><!-- end measureTitle -->

		<div id="measureEditContainer">
		<div id="eligibilityMeasures">
			<h3>Eligible: <span id="eligibleCount">0</span> patients</h3>
			<div class="measureBox">

			<div id="eligibilityMeasureItems">

				
			</div><!-- end #eligibilityMeasureItems -->
			</div><!-- end measureBox -->

		</div><!-- end #eligibilityMeasures -->
		
		<div id="outcomeMeasures">
			<h3>Outcome: <span id="outcomeCount">0</span> patients</h3>
			<div class="measureBox">
				<div id="outcomeExclusionMarker" class="exclusionTab">
					0 Exclusions
				</div>
				<div id="outcomeMeasureItems">
				</div>
			</div><!-- end measureBox -->
		</div><!-- end #outcomeMeasures -->
		
		<div id="parameterList">
			<h3>Parameters</h3>
			<div class="icons">
				<img src="images/icnCalendar.png"/>
				<img src="images/icnCount.png"/>
				<img src="images/icnInverse.png"/>
			</div>
			<div class="paramList">
				<p>Drag parameters into workspaces to construct quality measure.</p>
				<ul id="parameterClassList">
					<li><label>Communications</label>
						<div class="paramItemList" style="display:none">
							<ul>
							<li>Contraceptive Use Education</li>
							<li>Counseling for Nutrition</li>
							<li>Counseling for Physical Activity</li>
							<li>Tobacco Use Cessation Counseling</li>
							</ul>
						</div>
					</li>
					<li><label>Diagnosis</label>
						<div class="paramItemList" style="display:none">
							<ul>
							<li>Diagnosis param 1</li>
							<li>Diagnosis param 2</li>
							<li>Diagnosis param 3</li>
							<li>Diagnosis param 4</li>
							</ul>
						</div>
					</li>
					<li><label>Diagnostics</label>
						<div class="paramItemList" style="display:none">
							<ul>
							<li>Diagnostics param 1</li>
							<li>Diagnostics param 2</li>
							</ul>
						</div>
					</li>
					<li><label class="open">Encounters</label>
						<div class="paramItemList">
							<ul>
							<li>Acute Inpatient</li>
							<li>Ambulatory</li>
							<li>Domicilliary</li>
							<li>ED</li>
							<li>Health and Behavior Assess.</li>
							<li>Influenza</li>
							<li>Non-Acute Inpatient</li>
							<li>Nursing Facility</li>
							<li>Occupational Therapy</li>
							<li>Office Visit</li>
							<li>Outpatient</li>
							<li>Outpatient BH</li>
							<li>Output</li>
							<li>Opthamalogical Services</li>
							<li>Prenatal</li>
							<li>POS Modifier</li>
							</ul>
						</div>
					</li>
					<li><label>Lab Works</label></li>
					<li><label>Patient Characteristics</label></li>
					<li><label>Physical Exams</label></li>
					<li><label>Procedures</label></li>
					<li><label>Symptoms</label></li>
					<li><label>Treatment</label></li>
				</ul>
			</div>
		</div>
		
	</div><!-- end measureEditContainer -->
	</div><!-- end #pageContent -->

</div>