<!-- new dashboard content goes here. -->
	<div class="left-sidebar" id="filters">
		<h1>Filters</h1>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#core">
				      Core
				    </a>
				  </h4>
				</div>
				<div id="core" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Functional Status Assessment for Complex Chronic Conditions
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Use of Appropriate Medications for Asthma
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Documentation of Current Medications in the Medical Record
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Preventive Care and Screening: Screening for Clinical Depression and Follow-Up Plan
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								ADHD: Follow-Up Care for Children Prescribed Attention-Deficit/Hyperactivity Disorder (ADHD) Medication
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				      Behavioral Health General 
				    </a>
				  </h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Dementia: Cognitive Assessment
							</label>			
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Maternal Depression Screening
							</label>			
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				      Behavioral Health Adult 
				    </a>
				  </h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Maternal Depression Screening
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Anti-depressant Medication Management
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Bipolar Disorder and Major Depression: Appraisal for alcohol or chemical substance use
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					      Behaivoral Health Pediatric
					    </a>
				  	</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Bipolar Disorder and Major Depression: Appraisal for alcohol or chemical substance use
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h1>Providers</h1>
		<div class="checkbox">
			<label>
				<input type="checkbox" checked="" value="glyphicons.less">
				ALL VA
			</label>
		</div>
		<h1>Demograph</h1>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					      Race
					    </a>
				  	</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								American Indian Or Alaska Native
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Asian
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Black Or African American
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Native Hawaiian Or Other Pacific Islander
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								White
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="" value="glyphicons.less">
								Other
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					      Ethnicity
					    </a>
				  	</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					      gender
					    </a>
				  	</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					      language
					    </a>
				  	</h4>
				</div>
			</div>
		</div>	
	</div>
	<div class="main">
		<div class="main-heading">
			<h1 class="main-head">Measures</h1>
		</div>
		<div class="col-lg-column(2)">
			<button class="btn-primary">EXPORT</button></div>
		<div class="category">
		  <div class="category-title"><h2>Core Measures</h2>
		  </div>
		  <div class="category-header-percent">
		  	<div class="title-circle"><h2>%</h2></div>
		  </div>
			<div class="category-header-fraction">
				<h4>Numerator/Denominator</h4>
			</div>
				<!-- {{/if}}
			<div class="category-header-lg">Report Available</div>
		</div>
		 	{{collection measures item-view=measureView}} -->
		</div>
	  <div class="measure"><h4><a class="measure-listing">Preventative Care and Screening: Tobacco</a></h4>
<!-- 	  {{#if isLoading}}
	    <div class="col-lg-2" style="text-align: center"><%= image_tag 'measure-loader.gif' %></div>
	    <div class="col-lg-2" style="text-align: center">2 mins</div>
	  {{else}} -->
		</div>
	  <div class="percent-listing">
	  	<div class="circle-listing"><h2>70%</h2>
	  	</div>
	  </div>
	  <div class="fraction-listing">
	  	<ul>
	  		<li class="numerator">
	  		<h3>54</h3></li>
	  		<li class="denominator"><h3>77</h3></li>
	  </div>
	 </div>
<!-- 	  {{/if}}
	  <div class="col-lg-3" style="text-align: center">
	</div> -->


