body {
	overflow:hidden;
	float: left;
	width: 100%;
}

#reports {
	overflow-x:hidden;
}

#reports ul span.percentage {
	width: 35px;
	display: block;
}


#main #patients, #main div.data, #main div.vcard, #reports {
    overflow-x:hidden;
    bottom: 45px;
}

/** Report Overview */
.report .numerator, 
.report .denominator {
	padding-bottom: 2px;
}

table .pagination .page-size {
	width: 250px;
}

