<% @inline_javascript ||= "" 
	@inline_javascript = %{
		$(document).ready(function() {
			var dataViewer = new popConnect.DataViewer('#content', {
			     dataUrl: '/reports',
			     reportId:  1,
			     exportLink: $('#exportReport')
			   });
			
			var reportNavigator = new popConnect.ReportNavigator('#sidebar', {
	        	dataUrl: '/reports',
	        	dataViewer: '',
	        	reportId: 1
	    	});
	
			$('.fancybox').fancybox({
					'zoomOpacity':		true,
					'overlayShow':		false,
			  		'zoomSpeedIn':		500,
			   		'zoomSpeedOut': 		500,
			   		'hideOnContentClick': false
			});
		});
	}

%>
		<% inside_layout 'application' do %>
			<div id="sidebar">&nbsp;</div>
			<div id="main" class='content'>
				<% if flash[:error] %>
				<div class='error'><%= flash[:error]%></div>
				<% end %>
				<%= yield %>
			</div>
		<% end %>		