<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <title>popHealth : An Open Source Quality Measure Reference Implementation</title>
  <link rel="shortcut icon" href="/favicon.ico"/>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
</head>

<body class="login">

<%= yield %>

</body>
</html>