<%= form_tag(reset_password_accounts_url, {:name=>"forgot_password_form"}) do %>
<div id="login">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag "pophealth_small_logo.png", :alt => 'popHealth Logo', :id => "imgLogo" %>
      <h1>That's Okay. Everyone Forgets.</h1>
      Just tell us the email address you used to create your popHealth account, and we'll send you a link to reset your password!
    </div>
    <div id="panelLogin">
      <div style="padding-bottom:18px">
        <label>Your Email Address</label>
        <%= text_field_tag :email %>
      </div>
      <div style="color:#FF0000; font-weight: bold">
          <%= flash[:error] %>
      </div>
      <div style="margin:20px 0 0 225px;width:auto;">
        <a class="whitebutton" href="/"><span>Cancel</span></a>
        <a class="whitebutton" href="javascript:submitResetPasswordinform()" ><span>Reset Password</span></a>
      </div>
      <div class="doggyhelp">
        <div class="" style="text-align:right;font-size:11px;float:right;height:0px;position:relative;top:145px;left:37px;">
      </div>
    </div>
  </div>  
</div>
<div id="cap-bottom"></div>
<% end %>